{% extends "common/base.html" %}

{% load static %}
{% load account_extras %}


{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">
        <div id="editormd-view">
        <textarea id="append-test" style="display: none;">
{{ article.body }}
        </textarea>
        </div>
        {% if dessert %}
            <div class="form-group">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="{{ form.body.id_for_label }}"><h3>评论</h3></label>
                    <div>{{ form.body| addclass:"form-control" }}</div>
                    <button type="submit" class="btn btn-default">发表</button>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <h3 class="list-group-item">文章信息</h3>
            <p class="list-group-item">标题：{{ article.title }}</p>
            <p class="list-group-item">作者：快刀切草莓君</p>
            <p class="list-group-item">归档：{{ article.column }}</p>
            <p class="list-group-item">发布时间：{{ article.created|date }}</p>
            <p class="list-group-item">浏览量：{{ article.viewed }}</p>
        </div>
        {% if dessert %}
            <div class="list-group">
                <h3 class="list-group-item">评论</h3>
                {% for comment in article.comments.all %}
                    <p class="list-group-item">{{ comment.commentator.username }}:{{ comment.body }}</p>
                {% empty %}
                    <p class="list-group-item">{{ request.user }}未评论</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script src='{% static "editor/lib/marked.min.js" %}'></script>
    <script src='{% static "editor/lib/prettify.min.js" %}'></script>
    <script src='{% static "editor/lib/raphael.min.js" %}'></script>
    <script src='{% static "editor/lib/underscore.min.js" %}'></script>
    <script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
    <script src='{% static "editor/lib/flowchart.min.js" %}'></script>
    <script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
    <script src='{% static "editor/editormd.js" %}'></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var view0 = editormd.markdownToHTML("editormd-view", {
                htmlDecode: "style, script, iframe",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
        });

        {#function like_article(id, action) {#}
        {#    $.ajax({#}
        {#        url: "{% url 'article:like_article' %}",#}
        {#        type: "POST",#}
        {#        data: {"id": id, "action": action},#}
        {#        success: function (e) {#}
        {#            if (e == "1") {#}
        {#                layer.msg("感谢点赞");#}
        {#                window.location.reload();#}
        {#            } else {#}
        {#                layer.msg("我会继续努力");#}
        {#                window.location.reload();#}
        {#            }#}
        {#        },#}
        {#    });#}
        {#  }#}
    </script>
{% endblock %}