{% extends "common/base.html" %}
{% load static %}

{% block title %}
    文章列表
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索文章（尚未实现）">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <li role="presentation" class="active"><a href="#">文章列表</a></li>
            <li role="presentation"><a href="#">分类 标签</a></li>
            <li role="presentation"><a href="#">归档</a></li>
        </ul>

        <div class="mdblock"></div>

        {% for article in articles %}
            <div id="markdown{{ forloop.counter }}">
                <textarea style="display: none">
{#<a href="{{ article.get_url_path }}"><h3>{{ article.title }}</h3></a>#}
{#<p>作者:<a href="">{{ article.author.username }}</a></p>#}

{{ article.body|slice:'100' }}...

<p><span class="label label-default">标签1</span> <span class="label label-default">标签2</span> <a
        href="{{ article.get_url_path }}">查看详细内容</a></p>
                </textarea>
            </div>
            <div class="mdblock"></div>
            {#            <hr>#}
        {% endfor %}
        {% include "common/paginator.html" %}
    </div>

    <div class="col-md-3">

        <div class="list-group">
            <h3 class="list-group-item">文章分类</h3>
            <a href="{% url 'article:article_titles' %}" class="list-group-item {% if not active %}active{% endif %}">All</a>
            {% for column in columns %}
                <a href="{% url 'article:article_column' column.column %}"
                   class="list-group-item {% ifequal  column.column active %}active{% endifequal %}">
                    {{ column.column }}</a>
            {% endfor %}
        </div>
        <div class="well well-sm">
            <h3>声明</h3>
            <p>本站系
                <mark>快刀切草莓君</mark>
                的个人网站，账号功能目前仅用于存储网址导航。
            </p>
            <p>本站的文章仅
                <mark>快刀切草莓君</mark>
                可发文，其余用户仅可阅读和点赞。
            </p>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src='{% static "editor/lib/marked.min.js" %}'></script>
    <script src='{% static "editor/lib/prettify.min.js" %}'></script>
    <script src='{% static "editor/editormd.js" %}'></script>
    <script type="text/javascript">
        $(function () {
            var view = new Array(6);
            for (i = 1; i < 6; i++) {
                view[i] = editormd.markdownToHTML("markdown" + i, {htmlDecode: true,});
            }
        })
    </script>

{% endblock %}