{% extends "base.html" %}
{% load static %}

{% block title %}
    博客
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">
{% endblock %}

{% block content %}
    <div class="col-md-9">
        {% for article in articles %}
            <div class="jumbotron">
                <a href="{{ article.get_url_path }}"><h3>{{ article.title }}</h3></a>
                {#                <p>作者:<a href="">{{ article.author.username }}</a></p>#}
                {#                <p>{{ article.body|slice:'70'| linebreaks }}</p>#}
                <p>{{ article.body|slice:'90' }}...</p>
                <p><a class="btn btn-primary" href="{{ article.get_url_path }}" role="button">详情</a></p>
            </div>
        {% endfor %}
        {% include "paginator.html" %}
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <h3 href="#" class="list-group-item">文章归档</h3>
            <a href="#" class="list-group-item active">All</a>
            <a href="#" class="list-group-item">Django</a>
            <a href="#" class="list-group-item">Python</a>
            <a href="#" class="list-group-item">Machine Learning</a>
        </div>
    </div>
{% endblock %}
