{% if user.is_staff %}
<div class="list-group">
    <h3 class="list-group-item">博客</h3>
    <a href="{% url 'article:article_column' %}" class="list-group-item {{ column }}">编辑栏目</a>
    <a href="{% url 'article:article_list' %}" class="list-group-item {{ list }}">文章列表</a>
    <a href="{% url 'article:article_post' %}" class="list-group-item {{ post }}">发布文章</a>
</div>
{% endif %}

<div class="list-group">
    <h3 class="list-group-item">网址导航</h3>
    <a href="{% url 'navigation:navigation_box' %}" class="list-group-item {{ boxes }}">网址类型（盒子）</a>
    <a href="{% url 'navigation:navigation_list' %}" class="list-group-item {{ links }}">编辑网址</a>
</div>
