{% load static %}

<div class="container">
    <hr>
    <div class="col-md-3 text-left">
        <h4>Mr.StrawberrY</h4>
        <ul>
            <li><a href="https://weibo.com/3031783235" target="_blank">加入我们</a></li>
            <li><a href="https://weibo.com/3031783235" target="_blank">关于草莓君</a></li>
        </ul>
    </div>
    <div class="col-md-3 text-left">
        <h4>迷你传送门</h4>
        <ul>
           <li><a href="https://weibo.com/3031783235" target="_blank">问题反馈</a></li>
            <li><a href="http://www.runoob.com/" target="_blank">菜鸟教程</a></li>
        </ul>
    </div>
    <div class="col-md-6 text-right">
    <p>互联网ICP备案：闽ICP备18004703号-1</p>
    </div>
</div>