{% extends "base.html" %}

{% block title %}个人信息{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">

        <h1>个人信息</h1>
        <div class="row">
            <div class="col-md-6 form-horizontal text-left">
                <div class="form-group">
                    <div class="col-sm-3 control-label">用户名</div>
                    <div class="col-md-9">{{ user.username }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>生日</span></div>
                    <div class="col-md-9">{{ userprofile.birth }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>邮箱</span></div>
                    <div class="col-md-9">{{ user.email }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>微信</span></div>
                    <div class="col-md-9">{{ userprofile.wechat }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>毕业学校</span></div>
                    <div class="col-md-9">{{ userinfo.school }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>专业</span></div>
                    <div class="col-md-9">{{ userinfo.specialty }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>职业/公司</span></div>
                    <div class="col-md-9">{{ userinfo.company }}</div>
                </div>


                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>地址:</span></div>
                    <div class="col-md-9">{{ userinfo.address }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 control-label"><span>个人介绍:</span></div>
                    <div class="col-md-9">{{ userinfo.aboutme }}</div>
                </div>
            </div>

            <div class="col-md-6">
                {% load static %}
                <div style="margin-right:100px">
                    {% if userinfo.photo %}
                        <img src="{{ userinfo.photo | striptags }}" class="img-circle" width="200px" id="my_photo" name="user_face">
                    {% else %}
                        <p>未上传头像</p><p>可在编辑页面中上传</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <a href="{% url 'account:edit_my_information' %}">
                    <button class="btn btn-primary btn-lg">编辑</button>
                </a>
            </div>

        </div>
    </div>
{% endblock %}
