{% extends "common/base.html" %}
{% load account_extras %}

{% block title %}密码重置{% endblock %}

{% block content %}
    <div class="text-center vertical-middle-sm">
        <div>
            <h1>密码重置</h1>
            <p>请输入两次新密码以确保其正确性。</p>
            <p>你的密码至少应该包含8个字符</p>
            <p>你的密码不能设置得过于简单</p>
            <p>你的密码不能完全由数字组成</p>
        </div>
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="form-group">
                <label class='col-md-4 control-label'>新密码</label>
                <div class="col-md-4">{{ form.new_password1|addclass:"form-control" }}</div>
            </div>
            <div class="form-group">
                <label class='col-md-4 control-label'>再次确认</label>
                <div class="col-md-4">{{ form.new_password2|addclass:"form-control" }}</div>
            </div>
            <input type="submit" value="修改" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}