{% extends "base.html" %}
{% load account_extras %}
{% block title %}密码重置{% endblock %}

{% block content %}
<div class="text-center vertical-middle-sm">
    <h1>忘记密码或用户名？</h1>
    <p>输入你的邮箱，服务器会发送一封包含用户名和重置密码链接的邮件。</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱</label>
            <div class="col-md-6">{{ form.email|addclass:"form-control" }}</div>
        </div>
        <input type="submit" value="发送邮件" class="btn btn-primary"> </form>
</div>
{% endblock %}