{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}仪表盘{% endblock %}- 草莓君的妙妙屋</title>

    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
{#{% include 'common/back_header.html' %}#}
{% include 'common/header.html' %}

<div class="container content">
    <div class="col-md-9">
        <div style="background: #FFF;">
            {% block content %}
                <div class="well-lg">
                    <h1>妙妙屋欢迎您的到访</h1>
                    <p>你所在的位置：用户后台</p>
                    {% if user.is_staff %}
                        <p>您是管理员用户，可以访问 <a href="/admin/">admin</a>后台</p>
                    {% endif %}

                    {% if special %}
                        您是特殊用户，可以访问 <a href="{% url 'article:dessert' %}">甜品站</a> ！
                    {% endif %}

                </div>
            {% endblock %}
        </div>
    </div>

    <div class="col-md-3">
        {% include 'common/back_leftslider.html' %}
    </div>
</div>

{% include 'common/footer.html' %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>