{% load static %}

<footer>
    <div class="container text-center navbar-static-bottom" >
        <div class="col-md-6">
            <h4>快刀切草莓君</h4>
            <ul class="list-inline">
                <li class="btn btn-link"><a href="https://weibo.com/3031783235" target="_blank">Weibo</a></li>
                <li class="btn btn-link"><a href="https://github.com/Zaaachary" target="_blank">Github</a></li>
                <li class="btn btn-link"><a href="#">关于</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>友情链接</h4>
            <ul class="list-inline">
                <li class="btn btn-link"><a href="https://itdiffer.com/" target="_blank">老齐</a></li>
                <li class="btn btn-link"><a href="http://blog.wh241.cn/" target="_blank">Mr_Wang</a></li>
                <li class="btn btn-link"><a href="http://blog.slyli.cn/" target="_blank">SlyLi</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>互联网ICP备案：<a href="http://beian.miit.gov.cn/">闽ICP备18004703号-1</a></p>
        </div>
    </div>
</footer>