{% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-left" href="{% url 'index' %}">
                <img src="{% static '/image/logo2.png' %}" alt="logo"
                     style="margin-top: 9px; margin-right:5px;height: 30px;">
            </a>
            <a class="navbar-brand" href="{% url 'index' %}">草莓君的妙妙屋</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{ blog }}"><a href="{% url 'article:article_titles' %}">文章</a></li>
                {% if dessert %}
                    <li class="{{ dessert }}"><a href="{% url 'article:dessert' %}">甜品站</a></li>
                {% endif %}
                <li class="{{ navigation }}"><a href="{% url 'navigation:navigation_index' %}">网址导航</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">实验室</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="disabled"><a href="#">关于</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown {{ account }}">
                        <a href="#" class="dropdown-toggle {{ account }}" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account:dashboard' %}">用户后台</a></li>
                            <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                            <li><a href="{% url 'account:user_logout' %}">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'account:user_register' %}">注册</a></li>
                    <li><a href="{% url 'account:user_login' %}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>