
body {
    padding-top: 60px;
    background: rgb(236, 236, 236);
    /*background:url("");*/
    height:100%;margin:0;padding-bottom: 0;
}

html{
    height:100%;margin:0;padding:0;
}

body footer {
    background-color: white;
    margin-top: -113px;
}

.container{
    min-height:100%;
}

.content{
    padding-bottom:150px;
}

.mdblock{
    /*文章列表文章的间隙*/
    height:10px;
}


@media screen and (max-width: 992px){
    .content{
    padding-bottom:200px;
    }

    body footer {
    margin-top: -186px;
    }
}

