    /*
    1.body
    2.NavigationBar
    3.context
    4.About-us
    */
        *{margin:0;padding:0;}
        body{
            background: rgb(236, 236, 236);
        }
        .table{
            background:white;
            rules:none;
        }

        .context{
            width:100% ;height: 100%;
            /* background: rgb(236, 236, 236); */
            /* border: 1px solid #000;  */
            margin:0px auto;        /*外边距 + 居中*/
            padding: 0;          /*内边距*/
            /* position:relative; */
            text-align:center ;
        }
        .context ul li{
            list-style-type: none;
        }
        
        .context .LinkBox{
            background: #ffffff;
            width: 240px; 
            /* border: 1px solid rgb(0, 0, 0);  */
            padding: 10px;
            margin: 7px; 
            float: left;
            
        }
        .context .LinkBox ul li{
            width: 80px; height: 40px; float: left;
            list-style: none;
            line-height: 40px;
            text-align: center;        
            font-size: 13px;
            font-family: 微软雅黑;
        }
        .context .LinkBox h2{
            font-size: 22px;
            text-align: left;
            font-family: 微软雅黑;
        }
        /* .context .LinkBox ul li a{
            text-decoration: none;
        } */
        .context .atticbox{
            background: #ffffff;
            width: 40%; 
            /* border: 1px solid rgb(0, 0, 0);  */
            padding: 10px;
            margin-left: 5%;
            float: left;
            text-align: left;
            padding-left: 20px; 
        }
        .about-us{
            width:auto;
            height: 180px;
            margin:auto;
            /* background: #ffffff; */
            clear:both;
            padding: 10px;
        }
        .ABUblock{
            width: 140px;height: 150px;
            /* border: 1px solid #000; */
            float: left;
            margin-right: 40px;
            margin-top: 15px;

        }
        .ABUblock h4{
            text-align: left;
        }

        .ABUblock ul li{
            list-style: none;
            text-align: left;
            line-height: 30px;
            /* float: left; */
            margin:10px;
        }
        .ABUblock ul li a{
            width: 100px;height: 30px;
            display:block;
            /* border:1px solid #000; */
        }
        .record{
            /* background: red; */
            width: auto;
            height: auto;
            float: right;
            font-size: 12px;
        }


        a:link {color:#000000;text-decoration:none;}      /* 未访问链接*/
        a:visited {color:rgb(0, 0, 0);text-decoration:none;}  /* 已访问链接 */
        a:hover {text-decoration:underline;}   /* mouse over link */
        a:active {text-decoration:underline;}  /* selected link */

        @media only screen and (max-width: 800px){

            .context{
                width:100% ;height: auto    ;
                /* padding:10px ;         */
                /* position:relative; */
                padding: 0;
                margin  :0;
            }
            .context .LinkBox{
                width: 95%;height: auto;
                /* border: 1px solid rgb(0, 0, 0);  */
                margin:10px 2.5% 0 2.5%; 
                padding:0%;
            }
            .context .LinkBox ul li{
                width: 33.3%; height: 50px; float: left;
                line-height: 40px;
                text-align: center;        
                font-size: 20px;
            }
            .context .LinkBox h2{
                font-size: 22px;
                text-align: center;
            }
            .context .atticbox{
                width: 90%; 
                /* border: 1px solid rgb(0, 0, 0);  */
                padding: 0;
                margin:10px 5% 0 5%;
                float: left;
                text-align: center;
            }
            .context .atticbox h1{
                text-align: left;
                font-size: 1.3em;
            }
            .about-us{
                width:90%;
                height: auto;
                margin:0 auto;
                padding-top:10px;
            }
            .about-us .ABUblock{
                width: 50%;height: 150px;
                /* border: 1px solid #000; */
                /* float: left; */
                margin: 0 auto;
                padding: 0;
        
            }
            .about-us .ABUblock h4{
                text-align: left;
            }
            .about-us .ABUblock ul li{
                list-style: none;
                text-align: left;
                line-height: 30px;
                /* float: left; */
                margin:10px;
            }
            .about-us .ABUblock ul li a{
                /* width: 100px;height: 30px; */
                display:_block;
                /* border:1px solid #000; */
            }
            .about-us .record{
                font-size: 10px;
            }
        }